[project]
	description = Repo to test with fuzzer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dinesh Prasanth M K (SilleBille)
	owner = group user/csc-devops-bot (csc-devops17)
[access "refs/for/refs/*"]
	read = group user/Dinesh Prasanth M K (SilleBille)
	read = group user/csc-devops-bot (csc-devops17)
	push = group user/Dinesh Prasanth M K (SilleBille)
	push = group user/csc-devops-bot (csc-devops17)
	label-Code-Review = -2..+2 group user/Dinesh Prasanth M K (SilleBille)
	label-Code-Review = -2..+2 group user/csc-devops-bot (csc-devops17)
	label-Verified = -1..+1 group user/Dinesh Prasanth M K (SilleBille)
	rebase = group user/Dinesh Prasanth M K (SilleBille)
	rebase = group user/csc-devops-bot (csc-devops17)
	removeReviewer = group user/Dinesh Prasanth M K (SilleBille)
	removeReviewer = group user/csc-devops-bot (csc-devops17)
	submit = group user/Dinesh Prasanth M K (SilleBille)
	submit = group user/csc-devops-bot (csc-devops17)
[access "refs/heads/*"]
	read = group user/Dinesh Prasanth M K (SilleBille)
	read = group user/csc-devops-bot (csc-devops17)
	create = group user/Dinesh Prasanth M K (SilleBille)
	create = group user/csc-devops-bot (csc-devops17)
	push = +force group user/Dinesh Prasanth M K (SilleBille)
	push = group user/csc-devops-bot (csc-devops17)
	pushMerge = group user/Dinesh Prasanth M K (SilleBille)
	pushMerge = group user/csc-devops-bot (csc-devops17)
[access "refs/tags/*"]
	push = group user/Dinesh Prasanth M K (SilleBille)
	push = +force group user/Dinesh Prasanth M K (SilleBille)
